.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
}

.table .table-header {
    font-weight: bold;
}
.table .table-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.table-row:nth-of-type(even) { background-color: #f2f2f2; }
.table-row:nth-of-type(odd) { background-color: #ffffff; }

/* .table-row .table-row-item {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
} */
